p{
    color:black;

}
h2{ text-align: center;
    color: #000;background-color:rgb( 20, 40, 154,0.4)
}
ol{
    color: #8a41ff;
}
h1{color:white;
    background-color:rgb(40, 60, 180,0.9);
    text-align: center;
}